# include <core.p4>
# include <v1model.p4>
const bit<16>   device_id   = 16w%device_id%;
const bit<48>   authentication_code = 48w%auth_code%;

const bit<32>   switch_ip   = 32w%switch_ip%;
const bit<32>   switch_mac   = 32w%switch_mac_address%;

